
.Footer {
    background-color: #797777;
    width: 100% ;
    margin-top:auto;
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #FFF;
    padding: 15px;
    font-weight: bold;

}

